a{
  text-decoration: none;
  color: lightblue;
}

h1{
  font-size: 60px;
  text-align: center;
  border-bottom: 1px lightgray solid;
  padding: 10px;
  margin:0;
}



#active{
  color: darkgray;
}

#grid{
  display: grid;
  grid-template-columns: 230px 1fr;

}
#grid ol{
  border-right: 1px lightgray solid;
  width: 150px;
  margin: 0;
  padding: 30px;
  padding-left: 50px;
}
#grid li{
  padding: 2px;
}
#article{
  padding: 20px;
}

@media (max-width: 750px) {
  #grid{
    display: block;
  }
  h1{
    border-bottom: 1px lightgray solid;
  }
  #grid ol{
    border-right: none;
    border-bottom: 1px lightgray solid;
    width: auto;
    text-align: center;
  }
  #grid li{
    width: auto;
  }
  #article{
    padding:inherit;
    text-align: center;
  }
}
